body{
    background: #E5FEDE;
    background-image: url("./images/finalprettypattern.png");
    color: black;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

#bio{
    width: 300;
    margin: 0px auto;
    padding: 40;
}

a {
    font-family: 'Nunito', sans-serif ;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
  }

.container{
    width: 500px;
    margin: 0px auto;
}

.card{
    background-color: F3F3F3 ;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    margin: 20px 0px;
    border-radius: 10px;
    text-align: center;
}

#btn-discover{
    background-color: #8A82FF ;
    padding: 10px;
    color: white;
    box-shadow: 10px, 10px, 10px, black;
    border-radius: 10px;
    transition: 250ms;
}

#btn-discover:hover{
    background-color: #FF69B4;
    animation: blinker 1s linear infinite;
}

#profile-pic{
    width: 150;
    border-radius: 50%;
}

.icons{
    font-size: 30;
    opacity: 50%;
    margin: 20;
    transition: 250ms;
}

.icons:hover{
    opacity: 100%;
    size: 25px;
}

.list{
    display: inline;
    margin: 0px;
}

ul{
    margin: 0px;
    padding-left: 0;
}

li{
    margin: 0px;
}

#shortDescription{
    color: #35B0CB ;
    font-size: 25;
}